<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">Projeto Exemplo</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-item" routerLink="/rest">
                        REST
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-item" routerLink="/forms">
                        Forms
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>